body
{
    margin : 0px;
    background : rgb(0,15,20);
    padding : 200px;
}

#stop-container
{

    display : flex;
    justify-content : center;
    align-items : center;
    text-align : center;
    height : 100vh;
    height : 200px;
    width : 100%;
    padding : 0px  10px 10px;
    border : 1px solid transparent ;
    box-shadow : -7px -7px 10px  rgba(87,87,87,0.9);
    margin : 10px;
}

.stop
{
    margin : 5px;
    font-size : 120px;
    font-weight : bold;
    color : white;
}
p
{
    color : white;
    font-size : 20px;
    font-weight : bold;
    bottom : 40%;
}
#button
{
     text-align : center;
     margin : 20px;
     color : white;

}
button
{
     margin : 10px;
     width : 60px;
     height : 30px;
     font-size  :  15px;
     font-weight : bold;
     color : white;
     cursor : pointer;

}

#start
{
    background : rgba(0,100,0,0.7);
}
#stop
{
    background : red ;
}
#reset
{
    background : rgba(0,0,255,0.5);
}