*
{
    margin : 0;
    padding : 0;
    font-family : sans-serif;
    box-sizing : border-box;
    color : #ffffff;
}

body
{
      background : #212121;
      display : flex;
      justify-content : center;
      align-items : center;
      min-height : 100vh;
      box-shadow : -4px -4px 15px rgba(310,311,312,0.9);


}
.container
{
    position : relative;
}

.clock
{
   width : 400px;
   height : 400px;
   border-radius : 50%;
   background : rgba(100,100,100,0.3);
   border : 2px solid rgba(100,100,100,0.4);
   box-shadow : -8px -8px 15px rgba(85,85,85,0.5);
    display : flex;
    justify-content : center;
    align-items : center;
}

.clock span
{
     position : absolute;
     transform : rotate(calc(30deg * var(--i)));
     inset : 12px;
     text-align : center;
}

.clock span b
{

    transform : rotate(calc(-30deg * var(--i)));
    display : inline-block;
    font-size  : 20px;
}

.clock::before
{

    content : "   ";
    position : absolute;
    width : 8px;
    height : 8px;
    border-radius : 50%;
    background-color : #fff;

}

.hand
{
 position : absolute;
   display : flex;
    justify-content : center;
    align-items : flex-end;
}

.hand i
{
      position : absolute;
      width : 4px;
      height : 70px;
       background : var(--clr);
       border-radius : 8px;


}



